{{!-- Skills List --}}
<div class="skills-section">
  <div class="skill-count">
    {{localize "SMT.Skills"}} ({{skills.length}} / 8)
    <a class="add-item-btn" data-action="createItem" data-type="skill"><i class="fas fa-plus"></i> {{localize "SMT.AddSkill"}}</a>
  </div>

  <div class="items-list skill-list">
    <div class="items-header">
      <span class="item-name">{{localize "SMT.Name"}}</span>
      <span class="item-detail cost">{{localize "SMT.Cost"}}</span>
      <span class="item-detail tn">{{localize "SMT.TN"}}</span>
      <span class="item-detail power">{{localize "SMT.Power"}}</span>
      <span class="item-detail targets">{{localize "SMT.Targets"}}</span>
      <span class="item-detail element">{{localize "SMT.Element.Label"}}</span>
      <span class="item-detail effect">{{localize "SMT.Effect"}}</span>
      <span class="item-controls"></span>
    </div>

    {{#each skills as |skill|}}
    <div class="item skill-row {{#if skill.isPassive}}passive{{/if}}" data-item-id="{{skill._id}}">
      <span class="item-name clickable" data-action="useSkill">
        {{skill.name}}
      </span>
      <span class="item-detail cost">{{skill.costDisplay}}</span>
      <span class="item-detail tn">{{skill.tnDisplay}}</span>
      <span class="item-detail power">{{#if skill.system.power}}{{skill.system.power}}{{else}}&mdash;{{/if}}</span>
      <span class="item-detail targets">{{skill.system.targets}}</span>
      <span class="item-detail element">
        {{#if skill.system.element}}{{localize (lookup @root.elementLabels skill.system.element)}}{{else}}&mdash;{{/if}}
      </span>
      <span class="item-detail effect">{{skill.system.effectDescription}}</span>
      <span class="item-controls">
        <a class="item-control" data-action="editItem" title="Edit"><i class="fas fa-edit"></i></a>
        <a class="item-control" data-action="deleteItem" title="Delete"><i class="fas fa-trash"></i></a>
      </span>
    </div>
    {{/each}}
  </div>
</div>
