<div class="smt-roll {{cssClass}}">
  <h3>{{label}}</h3>
  <div class="roll-result">
    <span class="roll-value">{{result}}</span>
    <span class="roll-tn">/ {{tn}}%</span>
  </div>
  <div class="roll-outcome {{cssClass}}">{{outcome}}</div>
  <div class="fate-buttons"></div>
</div>
