<section class="smt-item-sheet skill">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-action="editImage" title="{{item.name}}" />
    <div class="header-fields">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'SMT.SkillName'}}" /></h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "SMT.SkillType.Label"}}</label>
      <select name="system.skillType">
        {{#each skillTypeChoices as |label key|}}
          <option value="{{key}}" {{#if (eq key ../system.skillType)}}selected{{/if}}>{{localize label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>{{localize "SMT.Cost"}}</label>
        <input type="number" name="system.cost.value" value="{{system.cost.value}}" min="0" />
      </div>
      <div class="form-group">
        <label>{{localize "SMT.Resource"}}</label>
        <select name="system.cost.resource">
          <option value="hp" {{#if (eq system.cost.resource "hp")}}selected{{/if}}>HP</option>
          <option value="mp" {{#if (eq system.cost.resource "mp")}}selected{{/if}}>MP</option>
          <option value="none" {{#if (eq system.cost.resource "none")}}selected{{/if}}>{{localize "SMT.None"}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "SMT.CheckStat"}}</label>
      <select name="system.checkStat">
        {{#each statChoices as |label key|}}
          <option value="{{key}}" {{#if (eq key ../system.checkStat)}}selected{{/if}}>{{localize label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>
          <input type="checkbox" name="system.autoSuccess" {{#if system.autoSuccess}}checked{{/if}} />
          {{localize "SMT.AutoSuccess"}}
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" name="system.customTN" {{#if system.customTN}}checked{{/if}} />
          {{localize "SMT.CustomTN"}}
        </label>
      </div>
      <div class="form-group">
        <label>{{localize "SMT.TN"}}</label>
        <input type="number" name="system.tn" value="{{system.tn}}" min="0" {{#unless system.customTN}}disabled{{/unless}} />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>{{localize "SMT.Power"}}</label>
        <input type="number" name="system.power" value="{{system.power}}" />
      </div>
      <div class="form-group">
        <label>{{localize "SMT.Targets"}}</label>
        <input type="text" name="system.targets" value="{{system.targets}}" />
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "SMT.Element.Label"}}</label>
      <select name="system.element">
        {{#each elementChoices as |label key|}}
          <option value="{{key}}" {{#if (eq key ../system.element)}}selected{{/if}}>{{localize label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label>{{localize "SMT.BuffEffect"}}</label>
      <select name="system.buffEffect">
        {{#each buffEffectChoices as |label key|}}
          <option value="{{key}}" {{#if (eq key ../system.buffEffect)}}selected{{/if}}>{{localize label}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>{{localize "SMT.AilmentType"}}</label>
        <input type="text" name="system.ailment.type" value="{{system.ailment.type}}" />
      </div>
      <div class="form-group">
        <label>{{localize "SMT.AilmentRate"}}</label>
        <input type="number" name="system.ailment.rate" value="{{system.ailment.rate}}" min="0" max="100" />
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "SMT.InheritanceType"}}</label>
      <input type="text" name="system.inheritanceType" value="{{system.inheritanceType}}" />
    </div>

    <div class="form-group full-width">
      <label>{{localize "SMT.Effect"}}</label>
      <textarea name="system.effectDescription" rows="3">{{system.effectDescription}}</textarea>
    </div>
  </section>
</section>
